* {
    margin: 0%;
    box-sizing: border-box;
}

.r1 {
    background-color: orangered;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    font-size: 30px;
}

.r2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
}

.r2>.c1 {
    width: 20%;
    background-color: rgb(135, 146, 135);
    padding: 10px;
    font-size: 20px;
    padding: 10 px;
}

li {
    padding: 10px;
    list-style: none;
    color: goldenrod;
    font-size: 30px;
}

li:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    font-size: 40px;
    background-color: green;
}

.r2>.c2 {
    width: 80%;
    background-color: yellow;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.r2>.c2>.m1 {
    margin: 1% 2.5% 1% 2.5%;
    flex: 20%;
    /* background-color: violet; */
    padding: 5px;
}

img:hover {
    width: 110%;
    height: 102%
}

img {
    width: 100%;
    height: 100px;
    transition: 2s;
}